@font-face
	font-family: 'Open Sans'
	src: url('../fonts/OpenSans-SemiBold.woff') format('woff')
	font-weight: 600
	font-style: normal
	&
		font-family: 'Open Sans'
		src: url('../fonts/OpenSans-Regular.woff') format('woff')
		font-weight: normal
		font-style: normal
	// 
	&
		font-family: 'Open Sans'
		src: url('OpenSans-LightItalic.eot')
		src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-LightItalic.woff') format('woff'),
		url('OpenSans-LightItalic.ttf') format('truetype')
		font-weight: 300
		font-style: italic

	&
		font-family: 'Open Sans'
		src: url('OpenSans-Bold.eot')
		src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Bold.woff') format('woff'),
		url('OpenSans-Bold.ttf') format('truetype')
		font-weight: bold
		font-style: normal

	&
		font-family: 'Open Sans'
		src: url('OpenSans-ExtraBoldItalic.eot')
		src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('OpenSans-ExtraBoldItalic.ttf') format('truetype')
		font-weight: 800
		font-style: italic

	&
		font-family: 'Open Sans'
		src: url('OpenSans-Light.eot')
		src: local('Open Sans Light'), local('OpenSans-Light'),
		url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Light.woff') format('woff'),
		url('OpenSans-Light.ttf') format('truetype')
		font-weight: 300
		font-style: normal

	&
		font-family: 'Open Sans'
		src: url('OpenSans-Italic.eot')
		src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Italic.woff') format('woff'),
		url('OpenSans-Italic.ttf') format('truetype')
		font-weight: normal
		font-style: italic

	&
		font-family: 'Open Sans'
		src: url('OpenSans-ExtraBold.eot')
		src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-ExtraBold.woff') format('woff'),
		url('OpenSans-ExtraBold.ttf') format('truetype')
		font-weight: 800
		font-style: normal

	&
		font-family: 'Open Sans'
		src: url('OpenSans-BoldItalic.eot')
		src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-BoldItalic.woff') format('woff'),
		url('OpenSans-BoldItalic.ttf') format('truetype')
		font-weight: bold
		font-style: italic

@font-face
	font-family: 'Panton'
	src: url('../fonts/Panton-Bold.woff') format('woff')
	font-weight: bold
	font-style: normal
	&
		font-family: 'Panton'
		src: url('../fonts/Panton-SemiBold.woff') format('woff')
		font-weight: 600
		font-style: normal

	// 
	&
		font-family: 'Panton'
		src: url('Panton-ExtraBold.eot')
		src: local('Panton ExtraBold'), local('Panton-ExtraBold'),
        url('Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Panton-ExtraBold.woff') format('woff'),
        url('Panton-ExtraBold.ttf') format('truetype')
		font-weight: 800
		font-style: normal

	&
		font-family: 'Panton'
		src: url('Panton-RegularItalic.eot')
		src: local('Panton Regular Italic'), local('Panton-RegularItalic'),
        url('Panton-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-RegularItalic.woff') format('woff'),
        url('Panton-RegularItalic.ttf') format('truetype')
		font-weight: normal
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-ThinItalic.eot')
		src: local('Panton Thin Italic'), local('Panton-ThinItalic'),
        url('Panton-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-ThinItalic.woff') format('woff'),
        url('Panton-ThinItalic.ttf') format('truetype')
		font-weight: 100
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-ExtraLight.eot')
		src: local('Panton ExtraLight'), local('Panton-ExtraLight'),
        url('Panton-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Panton-ExtraLight.woff') format('woff'),
        url('Panton-ExtraLight.ttf') format('truetype')
		font-weight: 200
		font-style: normal

	&
		font-family: 'Panton'
		src: url('Panton-ExtraBoldItalic.eot')
		src: local('Panton ExtraBold Italic'), local('Panton-ExtraBoldItalic'),
        url('Panton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-ExtraBoldItalic.woff') format('woff'),
        url('Panton-ExtraBoldItalic.ttf') format('truetype')
		font-weight: 800
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-ExtraLightItalic.eot')
		src: local('Panton ExtraLight Italic'), local('Panton-ExtraLightItalic'),
        url('Panton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-ExtraLightItalic.woff') format('woff'),
        url('Panton-ExtraLightItalic.ttf') format('truetype')
		font-weight: 200
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-Thin.eot')
		src: local('Panton Thin'), local('Panton-Thin'),
        url('Panton-Thin.eot?#iefix') format('embedded-opentype'),
        url('Panton-Thin.woff') format('woff'),
        url('Panton-Thin.ttf') format('truetype')
		font-weight: 100
		font-style: normal

	&
		font-family: 'Panton'
		src: url('Panton-Heavy.eot')
		src: local('Panton Heavy'), local('Panton-Heavy'),
        url('Panton-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Panton-Heavy.woff') format('woff'),
        url('Panton-Heavy.ttf') format('truetype')
		font-weight: 900
		font-style: normal

	&
		font-family: 'Panton'
		src: url('Panton-SemiBoldItalic.eot')
		src: local('Panton SemiBold Italic'), local('Panton-SemiBoldItalic'),
        url('Panton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-SemiBoldItalic.woff') format('woff'),
        url('Panton-SemiBoldItalic.ttf') format('truetype')
		font-weight: 600
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-BoldItalic.eot')
		src: local('Panton Bold Italic'), local('Panton-BoldItalic'),
        url('Panton-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-BoldItalic.woff') format('woff'),
        url('Panton-BoldItalic.ttf') format('truetype')
		font-weight: bold
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-BlackItalic.eot')
		src: local('Panton Black Italic'), local('Panton-BlackItalic'),
        url('Panton-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-BlackItalic.woff') format('woff'),
        url('Panton-BlackItalic.ttf') format('truetype')
		font-weight: 900
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-LightItalic.eot')
		src: local('Panton Light Italic'), local('Panton-LightItalic'),
        url('Panton-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-LightItalic.woff') format('woff'),
        url('Panton-LightItalic.ttf') format('truetype')
		font-weight: 300
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-Regular.eot')
		src: local('Panton Regular'), local('Panton-Regular'),
        url('Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('Panton-Regular.woff') format('woff'),
        url('Panton-Regular.ttf') format('truetype')
		font-weight: normal
		font-style: normal

	&
		font-family: 'Panton'
		src: url('Panton-HeavyItalic.eot')
		src: local('Panton Heavy Italic'), local('Panton-HeavyItalic'),
        url('Panton-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Panton-HeavyItalic.woff') format('woff'),
        url('Panton-HeavyItalic.ttf') format('truetype')
		font-weight: 900
		font-style: italic

	&
		font-family: 'Panton'
		src: url('Panton-Light.eot')
		src: local('Panton Light'), local('Panton-Light'),
        url('Panton-Light.eot?#iefix') format('embedded-opentype'),
        url('Panton-Light.woff') format('woff'),
        url('Panton-Light.ttf') format('truetype')
		font-weight: 300
		font-style: normal

	&
		font-family: 'Panton'
		src: url('Panton-Black.eot')
		src: local('Panton Black'), local('Panton-Black'),
        url('Panton-Black.eot?#iefix') format('embedded-opentype'),
        url('Panton-Black.woff') format('woff'),
        url('Panton-Black.ttf') format('truetype')
		font-weight: 900
		font-style: normal
