@import "fonts"
@import "libs"
@import "vars"
@import "base"
@import "icons"

// Пользовательские стили
html
  scroll-behavior: smooth
.main-btn
  font-size: em(16px)
  color: #ffffff
  background: $greenGrad
  padding: em(14px) em(30px)
  text-decoration: none
  border-radius: em(8px)
  display: block
  max-width: max-content
  height: max-content
  font-family: $P
  font-weight: 600
  &--orange
    background: $orangeGrad
.text
  &--sb
    font-weight: 600
  &--orange
    background: $orangeGrad
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  // &--certificate
  //   position: relative
  //   &::before
  //     content: ''
  //     position: absolute
  //     top: 
  //     transform: translate(-50%, -50%)
  //     left: -30px
  //     width: 33px
  //     height: 30px
  //     background: url('../img/certificate.svg') no-repeat center center
  // &--people
  //   position: relative
  //   &::before
  //     content: ''
  //     position: absolute
  //     top: 50%
  //     transform: translate(-50%, -50%)
  //     left: -30px
  //     width: 33px
  //     height: 30px
  //     background: url('../img/people.svg') no-repeat center center
.header
  padding: 18px 50px
  grid-template-columns: max-content  1fr max-content max-content max-content
  grid-column-gap: 40px
  align-items: center
  background: #FFFFFF
  box-shadow: 0px 4px 36px rgba(32, 32, 32, 0.05)
  &__logo-box
    max-width: 150px
    // margin-right: 100px

.nav
  padding: 0
  margin: 0
  justify-self: end
  grid-template-columns: repeat(3, max-content)
  grid-column-gap: 60px
  // align-items: center
  &__item
    list-style: none
  &__url
    color: $dark
    text-decoration: none
    font-size: em(15px)
    position: relative
    &::after
      transition: .3s ease-in all
      bottom: -5px
      width: 0
      height: 2px
      content: ''
      position: absolute
      background: $greenGrad
      display: block
    &:hover::after
      width: 100%
    &.active
      position: relative
      font-weight: 600
      &::after
        bottom: -5px
        width: 100%
        height: 2px
        content: ''
        position: absolute
        background: $greenGrad
        display: block
.geo-box
  grid-template-columns: max-content 1fr
  grid-column-gap: 12px
  &__text
    margin: 0
  &__icon
    grid-row: 1/3
    align-self: center
    font-size: em(20px)
.phone-box
  grid-template-columns: max-content 1fr
  grid-column-gap: 12px
  &__tel
    text-decoration: none
    color: $dark
  &__text
    margin: 0
  &__icon
    grid-row: 1/3
    font-size: em(20px)
    align-self: center
.eye
  width: 24px
.footer
  padding: 40px 0 56px
  position: relative
  box-shadow: 0px -4px 36px rgba(32, 32, 32, 0.05)
  min-height: 300px
  >.container
    grid-template-columns: max-content 1fr
    grid-column-gap: 100px
    width: 100%
  &__links
  &__link
    max-width: 340px
    text-decoration: none
    color: $dark
    font-size: em(14px)
    line-height: 1.5
    margin-bottom: em(16px)
    display: block
  &__info
    position: absolute
    right: 3vw
    top: 25px
  &__logo-box
    display: block
    width: 148px
    margin: 0 0 35px auto

  &__tel
    color: $dark
    text-decoration: none
    font-size: em(22px)
    margin-bottom: em(16px)
    display: block
  &__address
    max-width: 150px
    text-align: right
    margin: 0 0 em(30px) auto

.invite
  font-family: $P
  font-weight: 600
  span
    a
      color: #7BCEF0
      text-decoration: none
      font-weight: bold

.section-title
  font-family: $P
  font-weight: 700
  font-size: em(32px)
  line-height: 1.2
  margin: 0 0 1em
  max-width: max-content

.bg-wave
  // position: relative
  // background-color: #fff
  min-height: 300px
  &::before
    content: ''
    position: absolute
    background: url('../img/wave-bg.svg') no-repeat 0 0
    background-size: cover
    bottom: 0
    height: 50%
    width: 100%
    z-index: -2

.banner
  padding: 100px 0 100px 50px
  background-color: #efefef
  background: url('../img/banner-bg.png') no-repeat center center
  background-size: cover
  position: relative
  &__icon
    font-size: em(7px)
    margin: 10px
  &__title
    font-family: $P
    font-weight: bold
    max-width: 430px
    font-size: em(40px)
    margin: 0 0 em(14px)
    line-height: 1.2
  &__subtitle
    font-size: em(18px)
    margin: 0 0 em(46px)
    padding-left: 50px
    position: relative
    &::before
      position: absolute
      left: 0
      content: ''
      width: 38px
      background-color: $orange
      height: 2px
      top: 50%
      transform: translateY(-50%)
  &__btn
    margin: 0 em(60px) em(64px) 0
    display: inline-block
  &__img
    position: absolute
    right: 0
    bottom: 0
    max-width: 50%
  &__social
    position: absolute
    left: 50px
    top: 0
    height: 100%
    align-content: center
    grid-row-gap: 28px
    &::before, &::after
      content: ''
      position: absolute
      height: 130px
      width: 2px
      left: 7px
      background-color: $dark
      opacity: 10%
    &::before
      top: 10%
    &::after
      bottom: 10%
  &__social-link
    display: block
    text-decoration: none
    i
      color: #c2c2c2
      font-size: em(18px)
  &__info
    grid-template-columns: repeat(2, max-content)
    grid-gap: 50px
  &__text-box-info
    grid-template-columns: max-content max-content
    grid-gap: 20px
    p
      grid-column: 2
    i
      align-self: center
      color: $orange
      font-size: em(34px)

  &__text-info
    // max-width: 165px
    max-width: 220px
    font-size: em(15px)
    line-height: 1.5
    display: inline-block
    margin: 0
  &__under
    position: absolute
    bottom: -15px
    background-color: #fff
    border-radius: 20px
    padding: 30px 50px
    box-shadow: 20px 20px 35px rgba(143, 146, 158, 0.1)
    z-index: 11
    width: 1075px
  &__more
    text-decoration: none
    color: $dark
    display: inline-block
    font-family: $P
    font-size: em(18px)
    font-weight: 600

.under-list
  margin: 0
  padding: 0
  grid-template-columns: repeat(5, 1fr)
  grid-column-gap: 70px
  &__item
    grid-template-columns: repeat(2, max-content)
    grid-column-gap: 12px
    list-style: none
    i
      color: $orange
      grid-row: 1/3
      align-self: center
      font-size: 26px
    p, span
      grid-column: 2
  &__text
    margin: 0 0 em(2px)

.categories
  padding: 50px 0 0
  &--main-page
    margin-bottom: 90px
  >div
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
  &__title
    grid-column: 1/3

.category
  grid-template-columns: max-content 1fr
  box-shadow: 0px 4px 24px rgba(32, 32, 32, 0.1)
  border-radius: 10px
  overflow: hidden
  &__img-box
    max-width: 205px
  &__img
    object-fit: cover
    height: 100%
    width: 100%
  &__text-box
    padding: 33px 25px 33px 33px
    position: relative
    background: #fff
  &__title
    font-family: $P
    font-weight: 700
    font-size: em(22px)
    margin: 0 0 em(8px)
  &__subtitle
    position: absolute
    right: 20px
    top: 12px
    line-height: 1.5
  &__text
    font-weight: 400
    font-size: em(14px)
    line-height: 1.5
    margin: 0 0 em(24px)
    min-height: 30px
  &__btn
    padding: em(12px) em(30px)
    align-self: end

.about
  >div
    grid-template-columns: max-content 1fr
    grid-column-gap: 55px
  &--main-page
    margin-bottom: 125px
  &__title
    grid-column: 1/3
    margin-bottom: em(32px)
    &--kindergarten
      margin-bottom: em(20px)
  &__img-box
    position: relative
    max-width: 435px
    &::before
      content: ''
      width: 80%
      height: 80%
      bottom: 0
      left: 0
      z-index: -1
      transform: translate(-15px, 15px)
      position: absolute
      background: linear-gradient(92.68deg, #EB7734 0%, #F6B435 100%)
      border-radius: 15px
  &__img
    border-radius: 15px
    width: 100%
    height: 100%
    object-fit: cover
  &__text
    line-height: 1.5
    margin: 0 0 em(30px)
  &__short
    display: inline-block
    max-width: 210px
    margin-right: 60px
    &:last-child
      margin: 0
  &__short-num
    font-family: $P
    font-size: em(64px)
    font-weight: 700
    line-height: 1.5
    margin: 0
    max-width: max-content

  &__short-text
    margin: 0
    font-size: em(14px)
    font-weight: 600
  &--kindergarten
    padding: 90px 0 30px
    >div
      grid-template-columns: 1fr max-content
  &__btn
    padding: em(13px) em(45px)

.news
  padding: 40px 0
  >div
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
  &__header
    grid-column: 1/3
  &__title
    display: inline-block
    margin-right: 32px
  &__sort
    display: inline-block
  &__sort-btn
    padding: em(7px) em(25px)
    display: inline-block
    margin-right: em(15px)
    background: #F8F9FD
    color: $dark
    transition: .3s ease-in all
    &:last-child
      margin: 0
    &.active
      color: #ffffff
      background: $greenGrad
    &:hover
      color: #ffffff
      background: $greenGrad
  &__pagination
    grid-column: 1/3
  &__link
    vertical-align: middle
    i
      margin-right: em(6px)
      font-size: em(20px)
      vertical-align: text-top

.news-big
  grid-template-columns: max-content 1fr
  box-shadow: 0 4px 24px rgba(32,32,32,.1)
  border-radius: 10px
  overflow: hidden
  &__img-box
    width: 142px
    background-color: #efefef
  &__img
    height: 100%
    width: 100%
    object-fit: cover
  &__text-box
    padding: 26px
    background-color: #fff
  &__title
    font-family: $P
    font-weight: bold
    line-height: 1.3
    font-size: em(20px)
    margin: 0 0 em(4px)
    text-overflow: ellipsis
    -webkit-line-clamp: 1
    -webkit-box-orient: vertical
    display: -webkit-box
    overflow: hidden
    padding-right: 15px
    max-width: 90%
  &__date
    margin: 0 0 em(12px)
    line-height: 1.75
  &__description
    font-size: em(14px)
    line-height: 1.5
    margin: 0 0 em(22px)
  &__link
    color: $orange
    text-decoration: none
    line-height: 1.75
    font-weight: 600
    align-self: end
    position: relative
    max-width: max-content
    padding-right: 20px
    &::after
      content: ''
      position: absolute
      width: 7px
      height: 14px
      background: url('../img/arrow-right-orange.svg') no-repeat center center
      right: 0
      top: 50%
      transform: translate(0%, -50%)

.news-small
  grid-column: 1/3
  grid-template-columns: max-content 1fr max-content
  box-shadow: 0px 4px 24px rgba(32, 32, 32, 0.05)
  border-radius: 10px
  overflow: hidden
  background-color: #fff
  &__img-box
    width: 172px
    height: 90px
    background-color: #efefef
  &__img
    height: 100%
    object-fit: cover
    width: 100%
  &__text-box
    padding: 15px 25px
  &__title
    font-family: $P
    font-weight: 700
    line-height: 1.62
    margin: 0 0 em(5px)
  &__date
    line-height: 1.75
    margin: 0
  &__link
    color: $orange
    text-decoration: none
    line-height: 1.75
    font-weight: 600
    align-self: center
    margin-right: 25px
    position: relative
    max-width: max-content
    padding-right: 20px
    &::after
      content: ''
      position: absolute
      width: 7px
      height: 14px
      background: url('../img/arrow-right-orange.svg') no-repeat center center
      right: 0
      top: 50%
      transform: translate(0%, -50%)
.news-arrow
  margin-left: 12px
.pagination
  text-align: center
  display: flex
  flex-direction: column
  margin-bottom: 60px
  &__list
    position: relative
    display: inline-block
    padding: 0
    margin: 0 0 20px 0
  &__btn--prev,
  &__btn--next
    // position: absolute
    // top: 50%
    // transform: translateY(-50%)
    // font-size: 25px
    // cursor: pointer
    // color: #666
    // margin: 10px
  &__btn--prev
    // left: 0
    // margin: 0 10px
  &__btn--next
    // right: 0
    // margin: 0 10px
  &__item
    display: inline-block
  &__link
    display: block
    color: #333
    padding: 5px 14px
    font-size: 20px
    transition: all .2s ease
    text-decoration: none
    border-radius: 10px
    font-size: em(15px)
    margin: 0 em(5px) 0 0
    &:hover
      background: $orangeGrad
      color: #fff
    &--active
      background: $orangeGrad
      color: #fff
  &__btn
    max-width: max-content
    margin: 0 auto
    color: $dark
  &__btn--prev,
  &__btn--next
    margin: 0 20px
.breadcrumbs
  padding: 50px 0 26px
  &__url
    text-decoration: none
    color: $dark
  &__icon
    margin: 0 10px 0 0
    font-size: em(12px)

.single-news
  margin-bottom: 50px
  >div
  &__title
    margin: 0 0 em(5px)
  &__date
    font-weight: 600
    margin: 0 0 em(20px)
    color: #828282
  &__inner
    grid-template-columns: max-content 1fr
    grid-column-gap: 40px
  &__img-box
    max-width: 415px
  &__img
    border-radius: 10px
    object-fit: cover
    height: 100%
    width: 100%
  &__text-box
    p
      line-height: 1.5
      margin: 0 0 em(20px)
      a
        text-decoration: none
        color: #2F80ED
  &__img-box-big
    display: block
    transition: all .3s ease
  &__img-big
    width: 100%
    margin-bottom: 10px
    border-radius: 10px
  &__img-box-nav
    max-width: 110px
    width: 100%
    background-color: #fff
    transition: all .3s ease
  &__img-nav
    border-radius: 10px
  &__slider-nav
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 10px
.another-news
  margin-bottom: 40px
  >div
    grid-row-gap: 15px
  &__title
    font-family: $P
    font-weight: 700
    font-size: em(24px)
    margin: 0 0 em(20px)
.program
  padding: 40px 55px
  >div
    grid-template-columns: 1fr 1fr 1fr
    grid-column-gap: 40px
  &__title
    margin: 0 0 em(5px)
    grid-column: 1/4
  &__subtitle
    grid-column: 1/4
    font-family: $P
    font-weight: 600
    line-height: 1.65
    margin: 0 0 em(40px)
.list
  list-style: none
  // padding: 0
  margin: 0
  &__item
    margin: 0 0 em(25px)
    line-height: 1.65s
    position: relative
    &::before
      content: ''
      background: url('../img/circle-green.svg')
      width: 24px
      height: 24px
      left: -40px
      position: absolute
.link
  color: $orange
  text-decoration: none
  font-weight: 600

.bg-lblue
  background-color: $lBlue

.teachers
  padding: 42px 50px
  &__title
    margin-bottom: em(20px)
    line-height: 1.4
  &__header
    display: flex
    align-items: center
    justify-content: space-between

.teachers-page
  padding: 42px 50px
  &__title
    margin: 0 em(20px) em(20px) 0
    line-height: 1.4
    display: inline-block
  &__header
  &__list
    grid-template-columns: repeat(4, 1fr)
    display: none
    &.active
      display: grid
  &__sort
    display: inline-block
  &__sort-btn
    padding: em(7px) em(25px)
    display: inline-block
    margin-right: em(15px)
    background: #F8F9FD
    color: $dark
    transition: .3s ease-in all
    &:last-child
      margin: 0
    &.active
      color: #ffffff
      background: $greenGrad
    &:hover
      color: #ffffff
      background: $greenGrad

.slider-teacher
  margin: auto
  // max-width: 1115px
  max-width: 1250px
  padding: 0 20px
  &__wrap
    margin: auto
    max-width: 1070px
    padding: 0 20px
    // overflow: hidden
  &__pag
    height: 7px !important
    background-color: #F2F3F7
    top: auto !important
    bottom: 0
    span
      background: $greenGrad !important
  &__prev
    width: 57px
    height: 57px
    top: 30%
    // left: -20px
    // position: absolute
    // z-index: 11111111111
    &:after
      width: 57px
      height: 57px
      content: ''
      background: url('../img/arrow-left-circle-color.svg')
    &.swiper-button-disabled
      &:after
        background: url('../img/arrow-left-circle.svg')
  &__next
    width: 57px
    height: 57px
    top: 30%
    // left: -60px
    &:after
      width: 57px
      height: 57px
      content: ''
      background: url('../img/arrow-right-circle-color.svg')
    &.swiper-button-disabled
      &:after
        background: url('../img/arrow-right-circle.svg')

.teacher-card
  max-width: 253px
  &__img-box
    height: 266px
    max-width: 253px
    border-radius: 10px
    overflow: hidden
    margin-bottom: 30px
    background: #e3e3e3
  &__img
    object-fit: cover
  &__name
    font-family: $P
    font-weight: 700
    font-size: em(20px)
    line-height: 1.2
    margin: 0
  &__info
    font-size: em(14px)
    margin: em(12px) 0 em(38px)

.events
  padding: 60px 50px
  >div
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 20px
  &__title
    grid-column: 1/4
    margin: 0 0 em(20px)
  &__more-btn
    margin: 0 auto
    display: block
    max-width: max-content
    grid-column: 1/4
    color: $dark
    text-decoration: none
    position: relative
    &::after
      position: absolute
      content: ''
      background: url('../img/arrow-down-black.svg') no-repeat center center
      width: 10px
      height: 20px
      right: -20px
      transition: .3s ease-in all
    &.active
      &::after
        transform: rotate(180deg) translateY(-20%)
.event
  border-radius: 10px
  background-color: #fff
  margin-bottom: 40px
  box-shadow: 20px 20px 35px rgba(143, 146, 158, 0.1)
  &:nth-of-type(n+4)
    display: none
    &.active
      display: grid
  &__img-box
    height: 62px
    background-color: #efefef
  &__img
    object-fit: cover
    height: 100%
    width: 100%
  &__text-box
    padding: 15px 30px 25px
  &__title
    font-family: $P
    font-weight: 700
    font-size: em(22px)
    line-height: 1.5
    margin: 0 0 em(2px)
    color: #000000
  &__date
    font-weight: 400
    color: #000000
    line-height: 1.5
    margin: 0 0 em(20px)
  &__description
    font-size: em(14px)
    line-height: 1.5
    margin: 0 0 em(24px)
    height: 132px
    overflow: hidden
  &__btn

.faq
  padding: 40px 0 77px
  &__title
    text-align: center
    margin: 0 0 1.75em
    font-weight: 500
.questions
  grid-template-columns: 1fr 1fr
  grid-column-gap: 100px
  &__url
    display: block
    text-decoration: none
    transition: ease-in .3s all
    position: relative
    padding-left: 40px
    cursor: pointer
    font-weight: 600
    &::before
      content: ''
      position: absolute
      background-image: url(../img/plus.svg)
      background-size: cover
      display: block
      left: 0
      top: 0
      transform: translateY(-0)
      width: 24px
      height: 24px
  &__box
    position: relative
    &.active
      .questions__answer
        display: block
      .questions__url::before
        background-image: url(../img/minus.svg)
  &__answer
    background-color: #fff
    display: none
    font-size: em(14px)
    padding: em(22px) em(42px)
    margin: em(22px) 0 0
    border-radius: 10px
    position: absolute
    z-index: 1
  &__box
    margin-bottom: 23px

.school
  padding: 40px 0 55px
  >div
    grid-template-columns: 1fr 1fr
    grid-gap: 30px

.school-box
  padding: 30px 30px 35px 30px
  background-color: #fff
  box-shadow: 20px 20px 35px rgba(143, 146, 158, 0.1)
  border-radius: 10px
  &:nth-child(3)
    grid-column: 1/3
    grid-template-columns: 1fr 1fr
    .school-box__title
      grid-column: 1/3
  &__title
    font-family: $P
    font-weight: 700
    font-size: em(28px)
    line-height: 1.2
    margin: 0 0 em(17px)
  &__list
    margin-bottom: 10px
    display: inline-block
  &__btns
    align-self: end
  &__btn
    display: inline-block
    margin-right: 30px

.white-popup
  position: relative
  background-color: #fff
  padding: 26px 30px
  width: auto
  max-width: 386px
  margin: 20px auto
  border-radius: 10px
  &__title
    font-size: 1.5em
    font-weight: 900
    color: #333
    margin: 0 0 .9375em
  &__input
    width: 100%
    font-size: 1.125em
    color: $dark
    border: 1px solid $dark
    border-radius: 10px
    padding: 14px 28px
    margin-bottom: 20px
  &__input::placeholder
    color: $dark
  &__btn
    width: 100%
    text-transform: none
    border: none
    margin: 0 auto
  &__description
    font-size: .875em
    line-height: 1.2
  &__url
    color: $dark
  &__link
    display: block
    text-decoration: none
    color: $dark

.entry
  padding: 40px 0
  >div
  &__title

.intelligence
  padding: 40px 0 55px
  &__link
    display: block
    margin: 0 0 em(20px)
@import "media" // Всегда в конце
